#build with vim
.*.un~
.*.swp

*.d
*.o

# Precompiled Headers
*.gch
*.pch

*.so
*.so.*
*.dll

*.a

*.exe
*.out

#build with "go test -c"
*.test

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

*.class

*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Visual Studio Code workspace file folder
.vscode/

# ignore the other github project except mine
go/src/github.com/
go/src/golang.org/
go/src/sourcegraph.com/
go/bin/
# go debug
debug
#idea的目录
.idea
#sqlite3文件
*.db
#word临时文件
~$*
#tmp结尾的文件
*.tmp

####################################################################################################
tags
cscope.out
c/glibc/*
c/tinyhttpd-0.1.0/*
cpp/g++/*
